/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
resources/*.png
resources/*.jpg
resources/*.mp4
resources/*.gif
debug-frames/